# @login_required
# def booking(request):
#     if request.method == "POST":
#         address = request.POST.get("address")
#         phone_number = request.POST.get("phone_number")
#         ration_card_number = request.POST.get("ration_card_number")
#         ration_card_image = request.FILES.get("ration_card_image")
#         product_ids = request.POST.getlist("products")
#         shop_id = request.POST.get("ration_shop")

#         # Validate the selected shop
#         if not shop_id:
#             return render(request, "booking_form.html", {
#                 "error": "Please select a ration shop.",
#                 "shops": ShopOwnerDetails.objects.all(),
#                 "products": Product.objects.none()
#             })
        
#         if not product_ids:
#             return render(request, "booking_form.html", {
#                 "error": "Please select at least one product.",
#                 "categories": dict(CATEGORY_CHOICES),
#                 "products": Product.objects.none()
#             })
        
#         # Retrieve the selected ration shop
#         ration_shop = get_object_or_404(ShopOwnerDetails, id=shop_id)
#         booking = Booking.objects.create(
#             user=request.user,
#             address=address,
#             ration_card_number=ration_card_number,
#             ration_card_image=ration_card_image,
#             phone_number=phone_number,
#             booking_date=date.today(),
#             ration_shop=ration_shop )
        
#         booking.products.set(product_ids)
#         return redirect("user_dashboard")  
    
#     categories = dict(CATEGORY_CHOICES)
#     shops = ShopOwnerDetails.objects.all()
#     return render(request, "booking_form.html", {
#         "categories": categories,
#         'shops':shops,
#         "products": Product.objects.none()  })


# def filter_products_by_category(request):
#     category = request.GET.get("category")
#     if category:
#         products = Product.objects.filter(category=category, availability=True)
#         data = [{"id": product.id, "name": product.name, "price": str(product.price)} for product in products]
#         return JsonResponse({"products": data})
#     return JsonResponse({"products": []})
# views.py


# def add_product(request):
#     if request.method == 'POST':
#         name = request.POST['name']
#         category = request.POST['category']
#         quantity = request.POST['quantity']
#         price = request.POST['price']
#         availability = 'availability' in request.POST
        
#         Product.objects.create(
#             name=name,
#             category=category,
#             quantity=quantity,
#             price=price,
#             availability=availability )
#         return redirect('shop_dashboard')
    
#     context = {
#         'CATEGORY_CHOICES': Product._meta.get_field('category').choices,
#     }
#     return render(request, 'add_product.html',context)